#topButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    color: #65bef5;
    border: none;
    border-radius: 50%;
    padding: 15px;
    font-size: 12px;
    display: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#topButton:hover {
    background-color: #2d9de2;
    color: white;
}

#topButton span {
    font-size: 16px; 
}

nav {
    position: sticky;
    background-color: #6096ba;
}

nav a, .nav-link, strong {
    color: white;
    text-decoration: none;
}

nav a:hover, .nav-link:hover {
    color: #0667a3;
}

.navbar-nav {
    margin-left: auto;
}

body {
    background-color: white;
}

footer {
    padding: 10px;
    background-color: rgb(134, 171, 194);
    color: white;
    text-align: center;
    text-decoration: none;
}

footer a{
    text-decoration: none;
}

footer svg{
    text-align: center;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}
.card-body span {
    background-color: #65bef5;
}


.d-flex {
    margin-top: 2px;
    margin-left: auto;
}
