
 .testimonial-container {
    background-color: #6096ba;
    padding: 40px 20px;
    text-align: center;
    border-radius: 10px;
    position: relative;
  }
  
  
  .testimonial-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
 
  .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-10%);
    background: none;
    border: none;
    font-size: 30px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
  }
  
 
  .prev {
    left: -8px;
  }
  
  .next {
    right: -8px;
  }
  
 
  @media (max-width: 768px) {
    .carousel-btn {
      font-size: 20px;
    }
  }

#verification {
    width: fit-content;
    margin: 0 auto;
    background-color: #65bef5;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    height: auto;
}

#verification legend {
    color: white;
    font-size: 1.2em;
    padding: 5px;
}

#phoneNumber{
    width: 100%;
    padding:10px;
    border-radius:10px ;
    border-color:white;
}
#verification button {
    color: white;
    background-color: rgb(22, 114, 189);
    border-radius: 30px;
    border-color: rgb(22, 114, 189);
    padding: 10px; 
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0%;
}

#verification button:hover {
    background-color: #0c537f;
}

.carousel-item img {
    max-height: 500px;
    width: 100%;
    object-fit: cover;
}

#RowPlan button, #Plans button {
    background-color: #65bef5;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer; 
}

#RowPlan strong {
    color: #000;
}

#choosePack {
    text-align: center;
    margin: 20px 0; 
}



.sidebar {
    background-color:#f8f9fa;
    padding: 10px;
    border-radius: 10px;
    align-items: center !important;
}

.btn {
    background-color: #65bef5;
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
}
.btn.selected {
    background-color: #02468e;
    color: white;
}


.sidebar button:hover{
    background-color: #02468e;
    color: white;
}

#changeNumber{
    margin-top: 10px;
    padding: 10px;
    background:white;
    border-radius: 10px;
    max-width: fit-content;
}
#changeNumber button {
    background-color:#3f9fdb;
    color: white;
    border-color: white;
}

#dataPlan{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
}
#dataPlan .btn{
    background: white;
    color: black;
    border-radius: 20px;
    background-color: white;
    width: 200px;
    cursor: pointer;
}

#dataPlan .btn:hover{
    background: #65bef5;
    color: white;
}
#dataPlan .btn.selected {
    background-color: #65bef5; 
    color: white;
}

.planCard {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.planCard #Buy{
    margin-left: 50px;
    background-color:#3f9fdb;
}
.planCard a{
    color: white;
    text-decoration: none;
}
.planDetails {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: bold;
}